
/*------------------Organizacion general de botones y estilos eslogan--------------*/
.main-container{
    width: 80%;
    min-height: 80vh;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.main-slogan{
    width: 100%;
    max-height: 20vh;
    position: relative;
    margin-top: 30px;
    margin-bottom: 0px;
    text-shadow: turquoise 0px 2px 8px;
	transition: 1200ms
}
.main-slogan .title-slogan{
    background-color: transparent;
    position: absolute;
    /* text-transform: uppercase; */
    color: whitesmoke;
    font-family: 'Akaya Telivigala', cursive;
    font-weight: 100;
    font-size: 2.4rem;
    position: relative;
	transition: 1200ms
}
.main-slogan--retraicted .title-slogan{
    margin:0px;

} 
.main-slogan--retraicted{
    width: 100%;
    max-height: 10vh;
    position: relative;
    margin-top: 0;
    margin-bottom: 0px;
    text-shadow: turquoise 0px 2px 8px;
}





.title-slogan::before{
    content: '';
    position: absolute;
    left: 45%;
    right: 45%;
    bottom: -10px;
    border-bottom: rgb(228, 238, 237) solid 3px;
    height: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 5px rgb(184, 247, 255)

}

.main-section__corp{
    width: 37.5%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
}
.main-section__services{
    width: 25%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
.main-section__client{
    width: 37.5%;
    min-height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;

}


/*------------------Organizacion y estilos de seccion corpotativo--------------*/


.bottom-mision, .bottom-vision, .bottom-contact, .bottom-services, .bottom-projects, 
.bottom-tutorial, .bottom-follow, .bottom-partner, .bottom-help{
    display: flex;
    justify-content: center;
    align-items: center;
    border:transparent solid 1px;
    border-color: tomato blueviolet gold green;
    grid-area: bot;
    margin: 5px 0px 5px 0px;
    
}
.bottom-shop, .bottom-zone{
    display: flex;
    justify-content: center;
    align-items: center;
    border:transparent solid 1px;
    grid-area: bot;
    margin: 5px 0px 5px 0px;
    
}
.bottom-shop, .bottom-zone{
    /*rgba(44,181,232,0.8)*/
    /* border-image: linear-gradient(to top, rgba(44,181,232,0.8) 0%, #3ad0d500 50%, #3a4fd55e 100%) 1; */
    border-radius:10px 10px 10px 10px;
    width: 80%;
    height: 140px;
    grid-area: bot;
    margin: 7px 14px 7px 14px;
    background: url("../Recursos/Iconos\ SVG/RectanguloLateral.svg") no-repeat center;
    
}
.bottom-mision, .bottom-vision{
    margin: 7px 14px 7px 0px;
} 
.bottom-follow, .bottom-partner{
    margin: 7px 0px 7px 14px;
}
.bottom-mision, .bottom-vision, .bottom-follow, .bottom-partner{
    border-radius:10px 10px 10px 10px;
    width: 43%;
    height: 150px;
    grid-area: bot;

}

.bottom-contact, .bottom-help{
    border-radius:10px 10px 10px 20px;
    width: 80%;
    height: 50px;
    grid-area: bot;
    margin: 5px 10px 5px 10px;
}
.bottom-services, .bottom-projects{
    border-radius:10px 20px 10px 10px;
    width: 100%;
    
}
.bottom-tutorial{
    border-radius:10px 10px 10px 20px;
    width: 100%;
}