@charset "utf-8";
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html{
	font-size: 62.5%;
}
#content-main{
	background:url(../Recursos/Texturas/cuadricula.png) repeat;
	width: 100%;
	height: 100vh;
	}

#fondo{
 position: absolute;
 top:0px;
 /*bottom: 0px;*/
 right: 0px;
 width: 100vw;
 height: 100vh;
 z-index: -1000;
 object-fit: cover;
 }

 
.logo{
	position:fixed;
	top:40px;
	left:46%;
	width:7%;
	height:10%;
	display:block;

	}


.menu{
	margin-top:-145px;
	background:rgba(1,35,60,0.8);
	width:inherit;
	min-height:175px;
	border-radius:20px;
}

.menu-content{
	width: inherit;
	display: flex;	
	justify-content: space-evenly;
	flex-wrap: wrap;
	}

@font-face{
	font-family:"miletra";
	src:url(Anurati.otf);
}

.menu-space{
	width: 100%;
    padding: 27px;
}

h2{
	color:#A9E2CB;
	position:fixed;
	width:inherit;
	left: 0;
    right: 0;
	text-align:center;
	margin-top:50px;
	font-family:"miletra";
	background:#003;
	font-size: 2rem;
	}

.menu-content__list1, .menu-content__list2{
		margin:10px;
		list-style: none;
		width: 500px;
		display: flex;
		margin: 0;
		justify-content: center;
	}



.menu-content__item{
	width: 20%;
}

.nav{
	position:absolute;
	background:none;
	top:75%;
	border:0px;
	color:#0FF;
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:48px;
	width:100px;
	padding:0px;
	}
.nav:hover{
	text-shadow:#0F6 0px 0px 5px ;
	cursor:pointer;
	}

	

#barranavegacion #contenedor1{
	display:block;
	text-align:center;
	width: 120%;
	}
#barranavegacion .boton1{
	border-radius: 5px 20px 5px 10px;
}
#barranavegacion .boton2{
	border-radius: 5px 10px 5px 20px;;
}
#barranavegacion .boton3{
	border-radius: 5px 10px;
}
#barranavegacion .boton1,.boton2,.boton3{
background-image: url(Recursos/1x/Recurso\ 4.png);
}
#barranavegacion li{
	float:left;
	width:23%;
	margin:0 5%;
	list-style: none;
	}

/* CSS Document */

