video.mainContainer__fondo(loop, preload="auto") 
    source(src="./video/videofondo.mp4", type="video/mp4")
    source(src="./video/videofondo.mov", type="video/mov")
header.header 
    img.header__logo(src="./assets/images/logo.png", alt="imagen logo Digital Form")
    nav.menu 
        .menu__container 
            h2 Digital Form 
            .menu__espacio
            .menu__list1 
                each titulo in titulos1
                    +caja(titulo)
            .menu__list2
                each titulo in titulos2
                    +caja(titulo)
        input.menu__button(type="button",value="=")