-var titulos1 = ["Home","Vision","Mision"]
-var titulos2 = ["Servicios","Proyectos","Contacto"]
-var eslogan = "¡Es hora de llevar tu idea a otro nivel!";

mixin caja(titulo)
    .menu__items 
        .items--sombras 
            a(href="")= titulo 
 


doctype html 
html
    include _heads.pug
    body 
        .mainContainer
            include _headers.pug
            block contenidos
