extend componentes/_plantilla.pug
block contenidos
    main.mainContent
        section.mainContent__slogan
            h2= eslogan
        section.mainContent__corp
            button.button--shop ¿Quieres Algo? 
            button.button--mision Nuestro Objetivo 
            button.button--vision Soñemos Juntos 
            button.button--contact Comunicate! 
        section.mainContent__services
            button.button--services.button--random Servicios
            button.button--projects.button--random Proyectos
            button.button--tutorials.button--random Aprende más
        section.mainContent__client
            button.button--zone Tu Zona 
            button.button--follow Siguenos 
            button.button--partner Aliados 
            button.button--help Ayuda!