@font-face {
  font-family: "branding bold";
  src: url(../assets/font/Branding.ttf);
}
@font-face {
  font-family: "Quicksand";
  src: url(../assets/font/Quicksand.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #c9d9fa;
}

html {
  font-size: 62.5%;
}

.mainContainer {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/cuadricula.png");
  background-repeat: repeat;
}
.mainContainer .mainContainer__fondo {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__logo {
  position: fixed;
  top: 40px;
  left: 46%;
  width: 7%;
  height: 10%;
  display: block;
  z-index: 1;
}

.menu {
  position: relative;
  margin-top: -145px;
  background: rgba(1, 35, 60, 0.8);
  width: inherit;
  min-height: 175px;
  border-radius: 20px;
  -webkit-transition: 1200ms;
  transition: 1200ms;
}
.menu__container {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__container h2 {
  font-family: "branding bold";
  font-size: 2.3rem;
  margin-top: 50px;
  position: fixed;
  left: 0;
  right: 0;
  width: inherit;
  text-align: center;
  background: #003;
}
.menu__container .menu__espacio {
  width: 100%;
  padding: 27px;
}
.menu__container .menu__list1, .menu__container .menu__list2 {
  list-style: none;
  width: 500px;
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-perspective: 800px;
          perspective: 800px;
}
.menu__container .menu__list1 .menu__items, .menu__container .menu__list2 .menu__items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: rgba(44, 181, 232, 0.8) solid 2px;
  position: relative;
  -webkit-transition: 800ms all;
  transition: 800ms all;
  width: 105px;
  height: 68px;
  grid-area: bot;
  margin: 12px;
}
.menu__container .menu__list1 .menu__items:nth-of-type(1), .menu__container .menu__list2 .menu__items:nth-of-type(1), .menu__container .menu__list1 .menu__items:nth-of-type(1) .items--sombras, .menu__container .menu__list2 .menu__items:nth-of-type(1) .items--sombras {
  border-radius: 10px 10px 10px 25px;
}
.menu__container .menu__list1 .menu__items:nth-of-type(2), .menu__container .menu__list2 .menu__items:nth-of-type(2), .menu__container .menu__list1 .menu__items:nth-of-type(2) .items--sombras, .menu__container .menu__list2 .menu__items:nth-of-type(2) .items--sombras {
  border-radius: 10px 10px 10px 10px;
}
.menu__container .menu__list1 .menu__items:nth-of-type(3), .menu__container .menu__list2 .menu__items:nth-of-type(3), .menu__container .menu__list1 .menu__items:nth-of-type(3) .items--sombras, .menu__container .menu__list2 .menu__items:nth-of-type(3) .items--sombras {
  border-radius: 10px 25px 10px 10px;
}
.menu__container .menu__list1 .menu__items .items--sombras, .menu__container .menu__list2 .menu__items .items--sombras {
  width: inherit;
  height: inherit;
  margin-left: -2px;
  margin-top: -2px;
  margin-right: -2px;
  margin-bottom: -2px;
  border-radius: 10px 10px 10px 25px;
  background: linear-gradient(140deg, rgba(159, 184, 173, 0) 0%, #000026 50%, rgba(44, 181, 232, 0) 100%);
  z-index: 10;
}
.menu__container .menu__list1 .menu__items .items--sombras a, .menu__container .menu__list2 .menu__items .items--sombras a {
  font-family: "branding bold";
  font-size: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #c9d9fa;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu__button {
  position: absolute;
  background: none;
  top: 75%;
  border: 0px;
  color: #0ff;
  font-size: 48px;
  width: 100px;
  padding: 0px;
}
.menu__button:hover {
  text-shadow: #0f6 0px 0px 5px;
  cursor: pointer;
}

.menu--desplegado {
  -webkit-transform: translateY(95px);
          transform: translateY(95px);
}

.mainContent {
  width: 80%;
  min-height: 80vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mainContent__slogan {
  width: 100%;
  height: 15vh;
  position: relatie;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-shadow: turquoise 0px 2px 8px;
  -webkit-transition: all 1200ms;
  transition: all 1200ms;
  z-index: -1;
}
.mainContent__slogan--retraido {
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}
.mainContent__slogan h2 {
  position: absolute;
  text-align: center;
  font-family: "branding bold";
  font-size: 2rem;
  font-weight: 50;
  letter-spacing: 3px;
  width: inherit;
  left: 0;
  right: 0;
  color: whitesmoke;
  background-color: transparent;
}
.mainContent__slogan h2::before {
  content: "";
  position: absolute;
  left: 45%;
  right: 45%;
  bottom: -10px;
  border-bottom: #e4eeed solid 3px;
  height: 0;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px #b8f7ff;
          box-shadow: 0px 0px 5px #b8f7ff;
}
.mainContent__corp {
  width: 37.5%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-perspective: 500px;
          perspective: 500px;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mainContent__services {
  width: 25%;
  -webkit-perspective: 500px;
          perspective: 500px;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mainContent__client {
  width: 37.5%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-perspective: 500px;
          perspective: 500px;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.button--shop, .button--zone {
  border-radius: 10px 10px 10px 10px;
  width: 80%;
  height: 120px;
  grid-area: bot;
  background: url(../assets/images/main-button-top-background.svg) no-repeat center;
  position: relative;
  font-family: "Quicksand", Arial;
  font-size: 1.4rem;
  font-weight: 200;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent solid 1px;
  color: #45e3f1;
  text-shadow: 1px 1px 3px whitesmoke;
}
.button--shop::before, .button--zone::before {
  content: "";
  background-image: url("../assets/images/main-button-shop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
}

.button--zone::before {
  content: "";
  background-image: url("../assets/images/main-button-zone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
}

.button--mision, .button--vision,
.button--follow,
.button--partner {
  border-radius: 10px 10px 10px 10px;
  width: 43%;
  height: 150px;
  grid-area: bot;
  position: relative;
  background: url("../assets/images/main-centro-buttons-background.svg") no-repeat center;
  font-family: "Quicksand", Arial;
  font-size: 1.4rem;
  font-weight: 200;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent solid 1px;
  color: #45e3f1;
  text-shadow: 1px 1px 3px whitesmoke;
}
.button--mision::before, .button--vision::before,
.button--follow::before,
.button--partner::before {
  content: "";
  background-image: url("../assets/images/main-button-mision.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
}

.button--vision::before {
  content: "";
  background-image: url("../assets/images/main-button-vision.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
}

.button--follow::before {
  content: "";
  background-image: url("../assets/images/main-button-follow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
}

.button--partner::before {
  content: "";
  background-image: url("../assets/images/main-button-partner.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: absolute;
  top: 0;
  bottom: 20px;
  right: 0;
  left: 0;
}

.button--mision,
.button--follow,
.button--partner,
.button--vision {
  margin: 7px 14px 7px 0px;
}

.button--follow,
.button--partner {
  margin: 7px 0px 7px 14px;
}

.button--contact, .button--help {
  border-radius: 10px 10px 10px 20px;
  width: 80%;
  height: 50px;
  grid-area: bot;
  margin: 5px 10px 5px 10px;
  background: url("../assets/images/main-bottom-buttons-background.svg") no-repeat center;
  font-family: "Quicksand", Arial;
  font-size: 1.4rem;
  font-weight: 200;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent solid 1px;
  color: #45e3f1;
  text-shadow: 1px 1px 3px whitesmoke;
  padding: 0;
}

.button--random {
  width: 100%;
  background: url("../assets/images/main-centrals-buttons-background.svg") no-repeat;
  background-size: cover;
  opacity: 0.75;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px;
  font-family: "Quicksand", Arial;
  font-size: 1.4rem;
  font-weight: 200;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: transparent solid 1px;
  color: #45e3f1;
  text-shadow: 1px 1px 3px whitesmoke;
  color: whitesmoke;
  font-family: "branding bold", Arial;
  font-size: 2.3rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px #003;
  padding: 0;
  margin: 5px 0px 5px 0px;
}

.tipo1 {
  border-radius: 10px 10px 10px 10px;
}

.tipo2 {
  border-radius: 30px 10px 10px 10px;
}

.tipo3 {
  border-radius: 10px 30px 10px 10px;
}

.tipo4 {
  border-radius: 10px 10px 30px 10px;
}

.tipo5 {
  border-radius: 10px 10px 10px 30px;
}

.mainContent button {
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 1024px) {
  .menu__container .menu__list1, .menu__container .menu__list2 {
    width: 350px;
  }
}