.header__logo {
    position: fixed;
    top: 40px;
    left: 46%;
    width: 7%;
    height: 10%;
    display: block;    
}

.menu {
    position: relative;
    margin-top: -145px;
    background: rgba(1,35,60,0.8);
    width: inherit;
    min-height: 175px;
    border-radius: 20px;
    transition: 1200ms;
    &__container {
        width: inherit;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        h2 {
            margin-top: 50px;
            position: fixed;
            left: 0;
            right: 0;
            width: inherit;
            text-align: center;
            background: $color-variacion1;
            font-size: 2rem;
        }
        .menu__espacio {
            width: 100%;
            padding: 27px;
        }
        .menu__list1 {
            list-style: none;
            width: 500px;
            min-height: 80px;
            display: flex;
            margin: 0;
            justify-content: center;
            align-items: flex-end;
            .menu__items{
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                border: rgba(44,181,232,0.8) solid 2px;
                position: relative;
                transition: 800ms all;
                width: 105px;
                height: 68px;
                grid-area: bot;
                margin: 10px;
                &:nth-of-type(1), &:nth-of-type(1) .items--sombras {
                    border-radius:10px 10px 10px 25px;
                }
                &:nth-of-type(2), &:nth-of-type(2) .items--sombras {
                    border-radius:10px 10px 10px 10px;
                }
                &:nth-of-type(3), &:nth-of-type(3) .items--sombras {
                    border-radius:10px 25px 10px 10px;
                }
                .items--sombras {
                    width: inherit;
                    height: inherit;
                    margin-left: -2px;
                    margin-top: -2px;
                    margin-right: -2px;
                    margin-bottom: -2px;
                    border-radius: 10px 10px 10px 25px;
                    background: linear-gradient(140deg,rgba(159,184,173,0) 0%, rgba(0,0,38,1) 50%,rgba(44,181,232,0) 100%);
                    z-index: 10;
                    a {
                        display: flex;
                        height: inherit;
                        justify-content: center;
                        align-items: center;
                        color: $color-primario;
                        font-weight: bold;
                        font-size: 14px;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }

            }
        }
        .menu__list2 {
            @extend .menu__list1;
        }
    }

    &__button {
        position: absolute;
        background: none;
        top: 75%;
        border: 0px;
        color: $color-variacion2;
        font-size: 48px;
        width: 100px;
        padding: 0px;
        &:hover {
            text-shadow: $color-resalto 0px 0px 5px;
            cursor: pointer;
        }
    }
}

.menu--desplegado {
    margin-top: -50px;
}